/* interactive wall */
#new-wall {
    display: block;
    margin: auto;
	  width: 100%;
	  height: 100%;
    opacity: 0.0;
    transition-duration: 1s;
    position: absolute;
}

.info-box {
    display: none;
    position: fixed;
    left: 50%;
    bottom: -50px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    opacity: 0.9;
    border-radius: 20px;
    padding: 25px;
    z-index: 10;
    background: blue;
    width: 500px;
    height: 125px;
    color: white;
}
