html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #1b1f24;
}

#scene {
    width: 100vmin;
    height: 100vmin;
    border: 0px solid black;
    perspective: 100vmin;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#wall {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: bottom;
    transition-timing-function: ease-in-out;
}

#wall img {
    max-width: 100vw;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    opacity: 1.0;
    left: 50%;
    transform: translateX(-50%);
}

#texture {display: block}
#texture:hover { cursor: pointer; }
#texture-broken { display: none; }

/* animation stack */
.wobble-in {transform: rotateX(10deg);}
.wobble-out {transform: rotateX(-15deg);}
.fallen {transform: rotateX(90deg);}

#new-wall {
    display: block;
    margin: auto;
	  width: 100%;
	  height: 100%;
    opacity: 0.0;
    transition-duration: 1s;
    position: absolute;
}

.info-box {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 0px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background: white;
    border-radius: 10px;
}
.info-text {
    margin: 15px;
    height: 4.8em;
    position: relative;
    overflow: hidden;
    background: white;
    line-height: 1.2em;
}
.info-text p {margin: 0;
              padding: 0;} /*'parse out' padding from wiki*/
.info-text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right,
                                rgba(255, 255, 255, 0),
                                rgba(255, 255, 255, 1) 50%);
}
.info-link {
    color: black;
}

/* TODO svg displays its ?filename? on mouse hover*/
svg {
}

@media (min-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */
    .info-box{width: 95%;}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .info-box{width: 500px;}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
